body {
    margin: 0;
}

.header {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: #2C1A0E;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px;
}
.container a {
    color: #C8860A;
    text-decoration: none;
}

.hero {
    background-image: url('../images/hero-barista_1.jpeg');
    display: flex;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 700px;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(44, 26, 14, 0.6);
}

.hero_content {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 300px;
}

.quote {
 color:#FFFFFF;
 z-index: 2;
 font-family:serif;
}

.nomer {
    color:#C8860A;
    z-index: 3;
}

.history {
    color: rgba(250, 246, 241, 0.7);
    z-index: 4;
}

.hero_buttons a {
  
  text-decoration: none;
  color: #FFFFFF;
  background-color: #C8860A;
  padding: 10px;
  border-radius: 15px;

}
.hero_buttons a:last-child {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.hero_buttons {
    z-index: 5;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}