@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
    margin: 0;
}

.header {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: #2C1A0E;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container a {
    color: #C8860A;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 14px;
}

.nav {
    display: flex;
    gap: 40px;
}


.hero {
    background-image: url('../images/hero-barista_1.jpeg');
    display: flex;
    background-size: cover;
    background-position: center;
    height: 95vh;
    min-height: 700px;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}


.hero_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(44, 26, 14, 0.6);
}

.hero_content {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    max-width: 500px;
    margin-top: -20px;
}

.fa-solid {
    font-size: 18px;
    margin: 5px;
}


.quote {
    color: #FFFFFF;
    z-index: 2;
    font-size: 72px;
    font-family: 'Cormorant', serif;
}

.nomer {
    color: #C8860A;
    z-index: 3;
    display: flex;
    align-self: flex-start;
    width: 100%;
    text-align: left;
    margin-bottom: -50px;
    font-size: 14px;
    font-family: 'Inter';
}

.history {
    color: rgba(250, 246, 241, 0.7);
    z-index: 4;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: -20px;
    font-family: 'Inter', serif;
}

.hero_buttons a {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 28px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #C8860A;
    border-radius: 25px;
    display: inline-block;
}

.hero_buttons a:last-child {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.hero_buttons {
    z-index: 5;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.hero_stats {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    width: 350px;
    color: #FFFFFF;
    z-index: 6;
}

.hero_stats p {
    margin: 0px;
    text-align: center;
}

.stat_number {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.stat_text {
    font-size: 14px;
    font-family: 'Inter', serif;
    color: #F0E8DF;
}

.advantages {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}

.puns {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 40px;
    background-color: #FAF6F1;
}

.puns h3 {
    color: #C8860A;
    font-size: 14px;
    margin-bottom: -20px;
    font-family: 'Inter';
    text-transform: uppercase;
}

.puns h1 {
    color: #2C1A0E;
    font-size: 48px;
    width: 450px;
}

.advantages_one h3,
.advantages_two h3,
.advantages_three h3,
.advantages_fourth h3 {
    font-size: 18px;
    color: #2C1A0E;
    font-family: 'Playfair Display';
}

.advantages_one,
.advantages_two,
.advantages_three,
.advantages_fourth {
    flex: 1;
    min-width: 200px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 18px;
    text-align: start;
    border: 1px solid #2c1a0e1f;
}

.advantages_one p,
.advantages_two p,
.advantages_three p,
.advantages_fourth p {
    font-size: 14px;
    font-family: 'Inter';
    color: #7A5C44;
}

.icon-wrapper {
    color: #C8860A;
    background-color: #F0E8DF;
    padding: 15px;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_section {
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    align-items: center;
    background-color: #F0E8DF;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 60px;
}

.menu_title {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.menu_title h3 {
    color: #C8860A;
    font-size: 14px;
    font-family: 'Inter';
    text-transform: uppercase;
}

.menu_title h1 {
    font-size: 48px;
    color: #2C1A0E;
    font-family: 'Playfair Display';
    margin: 0px;
}

.menu_description {
    display: flex;
    width: 300px;
    align-items: end;
}

.menu_description p {
    color: #7A5C44;
    font-family: 'Inter';
    font-size: 14px;
    margin: 6px;
}

.menu_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    justify-items: center;
}

.menu_card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #2c1a0e1f;
    padding: 0px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;/
}

.menu_card h3 {
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #2C1A0E;
    margin: 0 0 8px 0;
}

.price {
    font-size: 18px;
    font-family: 'Inter';
    color: #C8860A;
    margin: 0 0 10px 0;
}

.description {
    font-family: 'Inter';
    font-size: 14px;
    color: #7A5C44;
    width: 100%;
    flex: 1;
    margin: 0 0 20px 0;
}

.add-to-order {
    font-size: 14px;
    font-family: 'Inter';
    color: #2C1A0E;
    background: none;
    border: 1px solid #2c1a0e1f;
    width: 100%;
    border-radius: 50px;
    padding: 10px 10px;
    align-self: center;
    cursor: pointer;
}

.card_image {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 70%;
    display: block;
}

.card_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
}

.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: #C8860A;
}

@media (max-width: 900px) {
    .menu_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .menu_cards {
        grid-template-columns: 1fr;
    }
}

.coffee_shop_image {
    overflow: hidden;
    display: flex;
    width: auto;
    padding: 20px;
    align-items: center;
}

.coffee_shop_image img {
    width: 500px;
    height: 75vh;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    overflow: hidden;
}

.about_us {
    width: 100%;
    background-color: #FAF6F1;
    padding: 120px 0;
}


.about_us .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 20px; 
}

.coffee_shop_image {
    flex: 1; 
    max-width: 500px;
    display: flex;
    align-items: center;
}

.coffee_shop_image img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    display: block;
}

.about_section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.our_store {
    display: flex;
    flex-direction: column;
}

.our_store h3 {
    color: #C8860A;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px; 
}

.our_store h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #2C1A0E;
    margin-top: 0;
    margin-bottom: 20px;
}

.our_store p {
    font-size: 16px;
    color: #7A5C44;
    font-family: 'Inter', sans-serif;
    line-height: 1.6; 
}

.our_features {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.features p:first-child {
    color: #2C1A0E;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-weight: 700;
}

.features p:last-child {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #7A5C44;
    margin: 5px 0 0 0;
}

/* 6. Кнопка */
.button_about {
    display: flex;
    margin-top: 40px;
    background-color: #2C1A0E;
    padding: 13px 30px; 
    border-radius: 50px;
    width: fit-content; 
    justify-content: center;
    transition: background-color 0.3s ease;
}

.button_about:hover {
    background-color: #C8860A;
}

.button_about a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .about_us .container {
        flex-direction: column;
        gap: 40px;
    }

    .coffee_shop_image {
        max-width: 100%;
    }

    .coffee_shop_image img {
        height: 50vh; 
    }

    .our_store h1 {
        font-size: 36px;
    }

    .our_features {
        flex-wrap: wrap; 
    }
}